<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %></title>
<link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
<link href="/styles/css/bootstrap.css" rel="stylesheet">
<link href="/styles/css/header.css" rel="stylesheet">
<link href="/styles/css/style.css" rel="stylesheet">
<script src="/styles/js/bootstrap.js"></script>
<script src="/styles/js/jquery.js"></script>
</head>