<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('Admin-head', {title: 'CodeGenius: Become an IT genius' }); %>
</head>

<body>
        <main class="container">
            <div class="d-flex justify-content-center">
                <div class="col-md-8">
                    <h1 class="text-center">Response Support</h1>
                    <hr>

                    <form method="post" action="/admin/support/<%= id %>">
                        <div>
                            <div class="mb-3">
                                <label for="content" class="form-label"><strong>Content:</strong></label>
                                <textarea id="content" name="content" class="form-control" rows="5" required></textarea>
                            </div>
                        </div>

                        <button type="submit" name="resolve" class="btn btn-primary">Send</button>
                    </form>
                </div>
            </div>
        </main>
</body>

</html>