<nav class="navbar navbar-expand-lg bg-black sticky-top">
    <div class="container">
        <a href="/home"><img src="images/logo.png" width="72" height="57"></a>
        <a class="navbar-brand" href="/home">CodeGenius</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/clickgenius" target="_blank">ClickGenius</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false"> Help Center
                    </a>
                    <ul class="dropdown-menu bg-black" aria-labelledby="navbarDropdown">
                        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="/support">Support</a></li>
                        <li class="nav-item"><a class="nav-link" href="/forum">Forum</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user"></i> User
                    </a>
                    <ul class="dropdown-menu bg-black" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/clickgenius/sign-in">Sign in</a></li>
                        <li><a class="dropdown-item" href="/clickgenius/sign-up">Sign up</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>