<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('Code-head', {title: 'CodeGenius: Become an IT genius' }); %>
</head>

<body>
    <%- include('Code-header') %>
        <main class="container">
            <div class="container mt-5">
                <h1 class="text-center">About CodeGenius</h1>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <img src="/images/logo.png" class="img-fluid" alt="CodeGenius Logo">
                    </div>
                    <div class="col-md-6">
                        <p>CodeGenius is an innovative platform for developers and technology enthusiasts. Focused on
                            automation, testing, and IT courses, we are committed to providing high-quality tools and
                            resources to boost your skills and projects.</p>
                        <p>Our mission is to empower developers and IT professionals through innovative solutions,
                            practical
                            courses, and intelligent automation.</p>
                        <p>We aim to be the leading global reference in development resources, automated testing, and
                            technology education.</p>
                    </div>
                </div>
            </div>         
            <%- include('Code-footer') %>
        </main>
</body>

</html>