<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('Code-head', {title: 'CodeGenius: Become an IT genius' }); %>
        <style>
            body {
                background-color: #000;
                color: #fff;
            }

            .custom-card {
                border: 1px solid #fff;
                background-color: transparent;
                color: #fff;
            }

            .custom-card .card-text {
                color: #fff;
            }

            .custom-btn {
                border: 1px solid #fff;
                background-color: transparent;
                color: #fff;
            }

            .custom-btn:hover {
                background-color: #fff;
                color: #000;
            }
        </style>
</head>

<body>
    <%- include('Code-header') %>
        <main class="container">
            <div class="container mt-5">
                <h1 class="text-center">About CodeGenius</h1>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <img src="path_to_your_image" class="img-fluid" alt="CodeGenius Logo">
                    </div>
                    <div class="col-md-6">
                        <p>CodeGenius is an innovative platform for developers and technology enthusiasts. Focused on
                            automation, testing, and IT courses, we are committed to providing high-quality tools and
                            resources to boost your skills and projects.</p>
                        <p>Our mission is to empower developers and IT professionals through innovative solutions,
                            practical
                            courses, and intelligent automation.</p>
                        <p>We aim to be the leading global reference in development resources, automated testing, and
                            technology education.</p>
                    </div>
                </div>
            </div>

            <div class="container mt-5">
                <h1 class="text-center">About ClickGenius</h1>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <img src="path_to_your_image_clickgenius" class="img-fluid" alt="ClickGenius Logo">
                    </div>
                    <div class="col-md-6">
                        <p>Empower your development team with ClickGenius, the ultimate solution for streamlined testing
                            processes. Say goodbye to manual configurations and hello to effortless testing in just a
                            click!
                        </p>
                        <p>Our mission is to simplify website testing and empower developers to focus on innovation and
                            productivity.</p>
                    </div>
                </div>
            </div>

            <div class="container mt-5">
                <h1 class="text-center">About CourseGenius</h1>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <img src="path_to_your_image_clickgenius" class="img-fluid" alt="ClickGenius Logo">
                    </div>
                    <div class="col-md-6">
                        <p>Empower your development team with ClickGenius, the ultimate solution for streamlined testing
                            processes. Say goodbye to manual configurations and hello to effortless testing in just a
                            click!
                        </p>
                        <p>Our mission is to simplify website testing and empower developers to focus on innovation and
                            productivity.</p>
                    </div>
                </div>
            </div>
            <%- include('Code-footer') %>
        </main>
</body>

</html>