<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('Code-head', {title: 'CodeGenius' }); %>
        <style>
            body {
                background-color: #000000;
                color: #fff;
            }

            a {
                text-decoration: none;
                color: #0d47a1;
            }

            .container-forum {
                padding: 50px 0;
            }

            .forum-item {
                margin-bottom: 20px;
                padding: 20px;
                background-color: #000000;
                border-radius: 5px;
                border: 1px solid #fff;
            }

            .forum-item h3 {
                color: #fff;
            }

            .forum-item .details {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .forum-item .tags {
                display: flex;
            }

            .forum-item .tags span {
                margin-right: 10px;
                background-color: #fff;
                color: #000000;
                padding: 5px 10px;
                border-radius: 5px;
            }
        </style>
</head>

<body>
    <%- include('Code-header') %>
        <main class="container">
            <div class="container-fluid">
                <div class="container-forum">
                    <div class="forum-item">
                        <a href="/courseGenius">
                            <h3>Question for PHP</h3>
                        </a>
                        <div class="details">
                            <div class="stats">
                                <span>7 answer</span>
                            </div>
                        </div>
                    </div>
                    <div class="forum-item">
                        <a href="/courseGenius">
                            <h3>Question for node</h3>
                        </a>
                        <div class="details">
                            <div class="stats">
                                <span>5 answer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <%- include('Code-footer') %>
</body>

</html>