<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('Click-head', {title: 'ClickGenius: Test your website in just one click' }); %>
</head>

<body>
  <%- include('Click-header') %>
    <main class="container">
      <div class="container my-5 text-center">
        <h1 class="welcome-text">Welcome to ClickGenius</h1>
        <p class="lead">Test your website in just one click</p>
      </div>
      <div class="container my-5 text-center">
        <div class="row mb-4">
          <div class="col-md-12">
            <div class="card custom-card">
              <div class="card-body">
                <h3 class="card-title">Automation of GET Requests</h3>
                <p class="card-text">Perform automated GET requests to retrieve data.</p>
                <a href="#" class="btn custom-btn">Start Automation</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-md-12">
            <div class="card custom-card">
              <div class="card-body">
                <h3 class="card-title">Automation of POST Requests</h3>
                <p class="card-text">Perform automated POST requests to send data.</p>
                <a href="#" class="btn custom-btn">Start Automation</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-md-12">
            <div class="card custom-card">
              <div class="card-body">
                <h3 class="card-title">Site Usage Tutorial</h3>
                <p class="card-text">Learn how to use our site effectively with our step-by-step tutorial.</p>
                <a href="#" class="btn custom-btn">View Tutorial</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-md-12">
            <div class="card custom-card">
              <div class="card-body">
                <h3 class="card-title">Download Server</h3>
                <p class="card-text">Download our server application for local use.</p>
                <a href="#" class="btn custom-btn">Download Server</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer>
        <hr>
        <p>&copy; CodeGenius 2024, Inc.</p>
        </div>
      </footer>
    </main>
</body>

</html>